[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-debug-toolbar = "*"
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-allauth = "*"
dj-rest-auth = "*"
pillow = "*"
python-dotenv = "*"
firebase-admin = "*"
pypdf2 = "*"
celery = "*"
redis = "*"
django-celery-results = "*"
torch = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"
