[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-allauth = "*"
dj-rest-auth = "*"
pillow = "*"
python-dotenv = "*"
pypdf2 = "*"
torch = "*"
transformers = "*"
nltk = "*"
drf-yasg = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
matplotlib = "*"
seaborn = "*"
numpy = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.12"
